<template>
    <v-app class="pay">
        <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D1%82%D0%B2%D0%B5%D1%80%D0%B6%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0&targets-hint=&default-sum=200&button-text=11&payment-type-choice=on&hint=&successURL=&quickpay=shop&account=4100110822785632" width="423" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
    </v-app>
</template>

<style lang="scss">
    .pay{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
</style>