<template>
    <v-app>
        <div class="price">
            <div class="price-container">
                <div class="price-headline">
                    <h3>Таблица заказа</h3>
                </div>
                <v-simple-table height="400px">
                    <template v-slot:default>
                    <thead>
                        <tr>
                        <th class="text-left">Номер</th>
                        <th class="text-left">Наименование</th>
                        <th class="text-left">Стоимость</th>
                        <th class="text-left">Опции</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in carts" :key="index">
                            <td>{{ index + 1 }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price | currency}}</td>
                            <td><span @click="numbers - 1">-</span> {{ numbers }} <span @click="numbers + 1">+</span></td>
                        </tr>
                    </tbody>
                    </template>
                </v-simple-table>
                <hr>
                <div class="pokupka">
                    <div class="p-item">
                         <span class="sum">{{ 0 | currency}}</span>
                    </div>
                    <div class="p-item">
                        <PriceModal />
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>

<script>
import PriceModal from '../../components/price-components/PriceModal.vue'

export default {
    name: 'price',components:{PriceModal},
    data(){
        return {
            sum: 0,
            pro: [],
        }
    },
    computed: {
        products(){
            return this.$store.getters.SetProducts
        },
        carts(){
            return this.$store.getters.carts
        },
        orders(){
            return this.$store.getters.orders
        }
    },
    methods:{
        setOrders(){
            // this.$store.dispatch('setOrders')
            // this.$store.dispatch('setCarts')
            this.$store.dispatch('setProducts')
        }
    },
    mounted(){
        this.setOrders()
    }
}
</script>

<style lang="scss">
    .price{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        .price-container{
            margin-top: 50px;
            height: 100%;
            width: 60%;
            .pokupka{
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .p-item{
                    .sum{
                        font-size: 28px;
                        font-weight: bold;
                    }
                }
            }
            .price-headline{
                width: 220px;
                display: flex;
                cursor: pointer;
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 25px;
                transition: .3s all;
            }
        }
    }

    @media (max-width: 1000px)  {
   .price{
        display: flex;
        justify-content: center;
        width: 100%;
        .price-container{
            margin-top: 50px;
            height: 500px;
            width: 80%;
            .pokupka{
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .p-item{
                    .sum{
                        font-size: 28px;
                        font-weight: bold;
                    }
                }
            }
            .price-headline{
                width: 220px;
                display: flex;
                cursor: pointer;
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 25px;
                transition: .3s all;
            }
        }
    }
    }

    @media(max-width: 500px){
     .price{
        display: flex;
        justify-content: center;
        width: 100%;
        .price-container{
            margin-top: 50px;
            height: 500px;
            width: 100%;
            .price-headline{
                width: 220px;
                display: flex;
                cursor: pointer;
                font-size: 18px;
                margin-top: 15px;
                margin-left: 20px;
                margin-bottom: 25px;
                transition: .3s all;
            }
            .pokupka{
                margin-top: 30px;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .p-item{
                    .sum{
                        font-size: 28px;
                        font-weight: bold;
                        margin-left: 20px;
                    }
                }
            }
        }      
     }
    }
</style>