<template>
    <div class="content-card">
        <div class="card-button">
            <div class="card-button">
                <div class="card-button-item" @click="cardInfo()">
                    <img src="../../assets/icons/info_card-item.svg" alt="">
                </div>
                <div class="card-button-item">
                    <img src="../../assets/icons/star_card-item.svg" alt="">
                </div>
            </div>
        </div>
        <div class="card-img" :style="{ backgroundImage: `url('${product.image}')` }"></div>
        <div class="card-info">    
            <div class="info-item">
                <span class="name">{{ product.name }}</span>
            </div>
            <div class="info-item">
                <span class="pay">{{product.price | currency}}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'product',
    props: ['product'],
    methods:{
        cardInfo(){
            this.$emit('cardInfo')
        }
    }
}
</script>


<style lang="scss">
    .content-card{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 28%;
        height: 300px;
        margin: 15px 15px;
        border-radius: 10px 10px 0px 0px ;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        background-size: cover;
        transition: .5s ease-in-out;
        .card-button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 17%;
            .card-button-item{
                margin: 5px;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .card-img{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            border-radius: 10px 10px 0px 0px ;
        }
        .card-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            letter-spacing: 1px;
            color: rgba($color: #000, $alpha: 1);
            transition: .3s ease-in-out;
            width: 100%;
            height: 40%;
            .info-item{
                margin: 20px;
                .pay{
                    padding: 10px;
                    border: 1px solid #396;
                    border-radius: 4px;
                    color: #396;
                }
                .pay:hover{
                    background-color: #396;
                    font-weight: bold;
                    color: #fff;
                    border-radius: 4px;
                }
            }
        }
    }
    .content-card:hover{
        transition: .3s ease-in;
        background-position: -40px;
        cursor: pointer;
        .card-info{
            width: 100%;
            height: 75px;
            transition: .3s ease-in;
            .info-item{
                margin: 20px;
            }
        }
    }

    @media(max-width: 800px){
    .content-card{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50%;
        height: 300px;
        margin: 15px 0px;
        border-radius: 10px;
        background-image: url('../../assets/img/burrito-chicken-delicious-dinner-461198.jpg');
        background-size: cover;
        transition: .5s ease-in-out;
        .card-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgba($color: #fff, $alpha: .5);
            transition: .3s ease-in-out;
            width: 100%;
            height: 40px;
            background: rgba($color: #000000, $alpha: .3);
            border-radius: 20px 20px 10px 10px;
            .info-item{
                margin: 20px;
            }
        }
    }
    .content-card:hover{
        transition: .3s ease-in;
        background-color:rgba(0,0,0,.3);
        background-position: -40px;
        cursor: pointer;
        .card-info{
            color: rgba($color: #fff, $alpha: 1);
            width: 100%;
            height: 80px;
            transition: .3s ease-in;
            background: rgba($color: #000000, $alpha: .7);
        }
    }
    }

       @media(max-width: 500px){
        .content-card{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        height: 300px;
        margin: 15px 0px;
        border-radius: 10px;
        font-size: 12px;
        background-image: url('../../assets/img/burrito-chicken-delicious-dinner-461198.jpg');
        background-size: cover;
        transition: .5s ease-in-out;
        }
       }
</style>