<script>
import IconClose from "../../assets/icons/close.png";

export default {
  data: () => ({
    icons: {
      IconClose,
    },
  }),
  inheritAttrs: false,
  props: {
    value: {
      type: Boolean,
      required: true,
    },
    maxWidth: {
      type: String,
      default: "560",
      required: false,
    },
    hideHeader: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  methods: {
    closeDialog() {
      this.$emit("input", false);
    },
  },
};
</script>

<template>
  <v-dialog
    ref="dialog"
    :value="value"
    v-bind="$attrs"
    v-on="$listeners"
    @keydown.esc="closeDialog"
  >
    <v-card ref="card" class="content-card content-card--desktop">
      <div v-if="!hideHeader" class="header">
        <div class="Title">
          <slot name="title" />
        </div>
        <v-btn
          icon
          dark
          color="#BFB9B6"
          min-width="24px"
          width="24px"
          height="24px"
          @click="closeDialog"
        >
          <img :src="icons.IconClose" />
        </v-btn>
      </div>
      <div class="body">
        <slot name="body" />
      </div>
    </v-card>
  </v-dialog>
</template>

<style lang="scss" scoped>
/*! purgecss start ignore */
::v-deep {
  .windows-dialog {
    max-height: 300px !important;
    &.v-dialog::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &.v-dialog::-webkit-scrollbar-track {
      background: white;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &.v-dialog::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }
    &.v-dialog::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4);
    }
    &.v-dialog::-webkit-scrollbar-thumb:active {
      background: rgba(0, 0, 0, 0.9);
    }
  }
  .app-dialog__clear {
    padding: 0 20px;
    margin: 0;
    overflow: inherit;
    background: none;
    box-shadow: none;
    .body {
      padding: 0;
    }
    .content-card {
      background: none;
    }
  }
  .app-dialog {
    border-radius: 10px;
  }
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 25px 10px 25px;
    .Title {
      position: absolute;
      left: 0;
      flex: 0 1 100%;
      width: 100%;
      padding-right: inherit;
      padding-left: inherit;
    }
  }
  .body {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    padding: 0 25px 25px 25px;
  }
}
/*! purgecss end ignore */
// Simple
.ps {
  background-color: white;
}
.content-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: white;
  &--desktop {
    box-shadow: none !important;
  }
}
</style>
