<template>
  <div class="home">
    <div class="home__actions">
      <div class="home__actions__search">
        <v-btn color="primary">Сформировать отчет и граф</v-btn>
      </div>
    </div>

    <div class="home__selects">
      <v-select
        class="home__selects-item"
        v-for="select in selectList"
        :key="select.id"
        :label="select.title"
        dense
        outlined
      ></v-select>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data: () => ({
    selectList: [
      {
        id: 1,
        title: "Производитель",
      },
      {
        id: 2,
        title: "Модель",
      },
      {
        id: 3,
        title: "Грузоподъемность",
      },
      {
        id: 4,
        title: "Группа дорог",
      },
      {
        id: 5,
        title: "Груз",
      },
      {
        id: 6,
        title: "Класс труда",
      },
      {
        id: 7,
        title: "Сезон",
      },
      {
        id: 8,
        title: "Погодные условия",
      },
      {
        id: 9,
        title: "Период от",
      },
      {
        id: 10,
        title: "Период до",
      },
      {
        id: 11,
        title: "Тип графа",
      },
    ],
  }),
};
</script>

<style lang="scss">
.home {
  padding: 50px;
  width: 100%;
  height: 100vh;
  &__actions {
    display: grid;
    justify-content: flex-end;
    &-clear {
      margin-right: 30px;
    }
  }
  &__selects {
    padding: 50px 0 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
</style>
