<template>
  <div class="departure">
    <div class="departure__actions">
      <div class="departure__actions-clear">
        <v-btn color="primary" disabled>Удалить отмеченные</v-btn>
      </div>
      <div class="departure__actions-add">
        <v-btn
          color="primary"
          @click="isAddAgregatDialogShow = !isAddAgregatDialogShow"
          >Добавить агрегат</v-btn
        >
      </div>
      <div class="departure__actions-add">
        <v-btn color="primary" @click="isDialogShow = !isDialogShow"
          >Добавить эталонный расход</v-btn
        >
      </div>
      <div class="departure__actions-search">
        <v-btn
          color="primary"
          @click="isDeleteNoteDialogShow = !isDeleteNoteDialogShow"
          >Поиск</v-btn
        >
      </div>
    </div>
    <div class="departure__table">
      <v-data-table
        :headers="headers"
        :items="desserts"
        :items-per-page="5"
        class="elevation-1"
      >
        <template v-slot:item.name="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append>
              <img :src="icons.arrowDown" alt="" />
            </template>
          </v-select>
        </template>
        <template v-slot:item.calories="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append>
              <img :src="icons.arrowDown" alt="" />
            </template>
          </v-select>
        </template>
        <template v-slot:item.fat="{ item }">
          <v-text-field :id="item" hide-details dense outlined></v-text-field>
        </template>
        <template v-slot:item.carbs="{ item }">
          <v-text-field :id="item" hide-details dense outlined></v-text-field>
        </template>
      </v-data-table>
    </div>

    <app-dialog v-model="isAddAgregatDialogShow" width="560">
      <template #title>
        <h2>Добавить машино-тракторный агрегат</h2>
      </template>
      <template #body>
        <add-agregat />
      </template>
    </app-dialog>

    <app-dialog v-model="isDialogShow" width="560">
      <template #title>
        <h2>Добавить эталонный расход</h2>
      </template>
      <template #body>
        <add-consumption />
      </template>
    </app-dialog>

    <app-dialog v-model="isDeleteNoteDialogShow" width="560">
      <template #title>
        <h2>Подтверждения удаления</h2>
      </template>
      <template #body>
        <p>Вы действительно хотите удалить выбранные (2) записи?</p>
        <div class="buttons">
          <div class="buttons__item">
            <v-btn color="primary">Отменить</v-btn>
          </div>
          <div class="buttons__item">
            <v-btn color="primary">Удалить</v-btn>
          </div>
        </div>
      </template>
    </app-dialog>
  </div>
</template>

<script>
import AppDialog from "../../components/App/AppDialog.vue";

import arrowDown from "../../assets/icons/chevron-down.png";
import AddAgregat from "../../components/AddAgregat.vue";
import AddConsumption from "../../components/AddConsumption.vue";

export default {
  components: { AppDialog, AddAgregat, AddConsumption },
  data: () => ({
    icons: {
      arrowDown,
    },
    isAddAgregatDialogShow: false,
    isDeleteNoteDialogShow: false,
    isDialogShow: false,
    headers: [
      {
        text: "Производитель",
        value: "name",
      },
      { text: "Модель", value: "calories", align: "start" },
      { text: "R(Уникальный расход топлива)", value: "fat" },
      { text: "N(Мощность ДВС в лошадинных силах)", value: "carbs" },
    ],
    desserts: [
      {
        name: "",
        calories: 159,
        fat: 6.0,
        carbs: 24,
      },
    ],
  }),
  methods: {
    addDeparture() {
      console.log("click");
    },
  },
};
</script>
<style lang="scss" scoped>
::v-deep {
  .v-icon,
  .notranslate {
    display: none !important;
  }
  .v-icon.v-icon {
    display: none !important;
  }
}
.departure {
  padding: 50px;
  width: 100%;
  height: 100vh;
  &__actions {
    display: grid;
    grid-template-columns: max-content max-content max-content 1fr;
    justify-items: self-end;
    &-clear,
    &-add {
      margin-right: 30px;
    }
  }
  &__table {
    padding: 50px 0px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}
</style>
