<template>
  <div class="departure">
    <div class="departure__actions">
      <div class="departure__actions-clear">
        <v-btn color="primary" disabled>Удалить отмеченные выезды</v-btn>
      </div>
      <div class="departure__actions-add">
        <v-btn color="primary" @click="isDialogShow = !isDialogShow"
          >Добавить выезд</v-btn
        >
      </div>
      <div class="departure__actions-search">
        <v-btn color="primary">Поиск</v-btn>
      </div>
    </div>
    <div class="departure__table">
      <v-data-table
        :headers="headers"
        :items="desserts"
        :items-per-page="5"
        class="elevation-1"
      >
        <template v-slot:item.name="{ item }">
          <input :id="item" type="date" />
        </template>
        <template v-slot:item.calories="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append>
              <img :src="icons.arrowDown" alt="" />
            </template>
          </v-select>
        </template>
        <template v-slot:item.fat="{ item }">
          <v-text-field :id="item" hide-details dense outlined></v-text-field>
        </template>
        <template v-slot:item.carbs="{ item }">
          <v-text-field :id="item" hide-details dense outlined></v-text-field>
        </template>
        <template v-slot:item.protein="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append> <img :src="icons.arrowDown" alt="" /> </template
          ></v-select>
        </template>
        <template v-slot:item.iron="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append> <img :src="icons.arrowDown" alt="" /> </template
          ></v-select>
        </template>
        <template v-slot:item.gr="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append> <img :src="icons.arrowDown" alt="" /> </template
          ></v-select>
        </template>
        <template v-slot:item.gruz="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append> <img :src="icons.arrowDown" alt="" /> </template
          ></v-select>
        </template>
        <template v-slot:item.classgruz="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append> <img :src="icons.arrowDown" alt="" /> </template
          ></v-select>
        </template>
        <template v-slot:item.season="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append> <img :src="icons.arrowDown" alt="" /> </template
          ></v-select>
        </template>
        <template v-slot:item.weather="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append> <img :src="icons.arrowDown" alt="" /> </template
          ></v-select>
        </template>
        <template v-slot:item.doroga="{ item }">
          <v-select
            hide-details
            class="home__selects-item"
            dense
            :id="item"
            outlined
          >
            <template #append> <img :src="icons.arrowDown" alt="" /> </template
          ></v-select>
        </template>
      </v-data-table>
    </div>

    <app-dialog v-model="isDialogShow" width="560">
      <template #title>
        <h2>Добавить выезд</h2>
      </template>
      <template #body>
        <add-departure />
      </template>
    </app-dialog>
  </div>
</template>

<script>
import AppDialog from "../../components/App/AppDialog.vue";

import AddDeparture from "../../components/AddDeparture.vue";
import arrowDown from "../../assets/icons/chevron-down.png";

export default {
  components: { AppDialog, AddDeparture },
  data: () => ({
    icons: {
      arrowDown,
    },
    isDialogShow: false,
    headers: [
      {
        text: "Дата выезда",
        value: "name",
      },
      { text: "Водитель", value: "calories", align: "start" },
      { text: "Пройденный киллометраж", value: "fat" },
      { text: "Кол- во потраченного топлива", value: "carbs" },
      { text: "Производитель", value: "protein" },
      { text: "Модель", value: "iron" },
      { text: "Грузоподъемность", value: "gr" },
      { text: "Груз", value: "gruz" },
      { text: "Класс груза", value: "classgruz" },
      { text: "Сезон", value: "season" },
      { text: "Погодные условия", value: "weather" },
      { text: "Группа дорог", value: "doroga" },
    ],
    desserts: [
      {
        name: "",
        calories: 159,
        fat: 6.0,
        carbs: 24,
        protein: 4.0,
        iron: "1%",
      },
    ],
  }),
  methods: {
    addDeparture() {
      console.log("click");
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .v-icon,
  .notranslate {
    display: none !important;
  }
  .v-icon.v-icon {
    display: none !important;
  }
}
.departure {
  padding: 50px;
  width: 100%;
  height: 100vh;
  &__actions {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    justify-items: self-end;
    &-clear {
      margin-right: 30px;
    }
  }
  &__table {
    padding: 50px 0px;
  }
}
</style>
