<template>
  <div class="content">
    <div class="content__item">
      <input type="date" />
    </div>
    <div class="content__item">
      <v-select
        hide-details
        label="Водитель *"
        :rules="[() => !!name || 'This field is required']"
        class="home__selects-item"
        dense
        outlined
      >
        <template #append> <img :src="icons.arrowDown" alt="" /> </template
      ></v-select>
    </div>
    <div class="content__item">
      <v-text-field
        hide-details
        label="Пройденный киллометраж *"
        dense
        outlined
      ></v-text-field>
    </div>
    <div class="content__item">
      <v-select
        hide-details
        label="Кол- во затраченного топлива *"
        class="home__selects-item"
        dense
        outlined
      >
        <template #append> <img :src="icons.arrowDown" alt="" /> </template
      ></v-select>
    </div>
    <div class="content__item">
      <v-select
        hide-details
        label="Производитель *"
        class="home__selects-item"
        dense
        outlined
      >
        <template #append> <img :src="icons.arrowDown" alt="" /> </template
      ></v-select>
    </div>
    <div class="content__item">
      <v-select
        hide-details
        label="Модель *"
        class="home__selects-item"
        dense
        outlined
      >
        <template #append> <img :src="icons.arrowDown" alt="" /> </template
      ></v-select>
    </div>
    <div class="content__item">
      <v-select
        hide-details
        label="Грузоподъемность *"
        class="home__selects-item"
        dense
        outlined
      >
        <template #append> <img :src="icons.arrowDown" alt="" /> </template
      ></v-select>
    </div>
    <div class="content__item">
      <v-select
        hide-details
        label="Группа дорог *"
        class="home__selects-item"
        dense
        outlined
      >
        <template #append> <img :src="icons.arrowDown" alt="" /> </template
      ></v-select>
    </div>
    <div class="content__item buttons">
      <div class="content__item-button">
        <v-btn color="primary">Отменить</v-btn>
      </div>
      <div class="content__item-button">
        <v-btn color="primary" disabled>Добавить</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import arrowDown from "../assets/icons/chevron-down.png";

export default {
  data: () => ({
    icons: {
      arrowDown,
    },
  }),
};
</script>

<style lang="scss" scoped>
.content {
  display: grid;
  gap: 20px;
  overflow: hidden;
  height: max-content;
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
</style>
