<template>
  <div class="content">
    <div class="content__item">
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            outlined
            dense
            hide-details
            v-model="date"
            label="Дата записи"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="date"
          :active-picker.sync="activePicker"
          :max="
            new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
              .toISOString()
              .substr(0, 10)
          "
          min="1950-01-01"
          @change="save"
        ></v-date-picker>
      </v-menu>
    </div>
    <div class="content__item">
      <v-select
        hide-details
        label="Вид культуры *"
        :rules="[() => !!name || 'This field is required']"
        class="home__selects-item"
        dense
        outlined
      >
        <template #append> <img :src="icons.arrowDown" alt="" /> </template
      ></v-select>
    </div>
    <div class="content__item">
      <v-text-field hide-details label="Объем *" dense outlined></v-text-field>
    </div>
    <div class="content__item">
      <v-text-field
        hide-details
        label="Состав работ *"
        dense
        outlined
      ></v-text-field>
    </div>
    <div class="content__item">
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            outlined
            dense
            hide-details
            v-model="date"
            label="Срок проведения работ"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="date"
          :active-picker.sync="activePicker"
          :max="
            new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
              .toISOString()
              .substr(0, 10)
          "
          min="1950-01-01"
          @change="save"
        ></v-date-picker>
      </v-menu>
    </div>
    <div class="content__item">
      <v-select
        hide-details
        label="Персонал *"
        :rules="[() => !!name || 'This field is required']"
        class="home__selects-item"
        dense
        outlined
      >
        <template #append> <img :src="icons.arrowDown" alt="" /> </template
      ></v-select>
    </div>
    <div class="content__item">
      <v-select
        hide-details
        label="Агрегат *"
        :rules="[() => !!name || 'This field is required']"
        class="home__selects-item"
        dense
        outlined
      >
        <template #append> <img :src="icons.arrowDown" alt="" /> </template
      ></v-select>
    </div>
    <div class="content__item">
      <v-text-field
        hide-details
        label="Издержки *"
        dense
        outlined
      ></v-text-field>
    </div>
    <div class="content__item buttons">
      <div class="content__item-button">
        <v-btn color="primary">Отменить</v-btn>
      </div>
      <div class="content__item-button">
        <v-btn color="primary" disabled>Добавить</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import arrowDown from "../assets/icons/chevron-down.png";

export default {
  data: () => ({
    icons: {
      arrowDown,
    },
    activePicker: null,
    date: null,
    menu: false,
  }),
};
</script>

<style lang="scss" scoped>
::v-deep {
  .v-input__prepend-outer {
    display: none;
  }
}
.content {
  padding: 20px 0;
  display: grid;
  gap: 20px;
  overflow: hidden;
  height: max-content;
  .buttons {
    margin: 20px 0 0;
    display: flex;
    justify-content: space-between;
  }
}
</style>
