<template>
<v-row justify="center">
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <template v-slot:activator="{ on }">
        <v-btn rounded color="success" dark v-on="on">Подвердить заказ</v-btn>
      </template>
      <v-card>
        <v-toolbar dark color="success">
          <v-btn icon dark @click="dialog = false"> 
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Подтверждение заказа</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <div class="content">
            <div class="content-item">
                <div id="map"></div>
            </div>
            <div class="content-item">
                <div class="maps-info">
                    <div class="info-item">
                        <v-text-field label="ул"></v-text-field>
                    </div>
                    <div class="info-item">
                        <v-text-field label="д"></v-text-field>
                    </div>
                    <div class="info-item">
                        <v-text-field label="п"></v-text-field>
                    </div>
                    <div class="info-item">
                        <v-text-field label="н"></v-text-field>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <v-btn rounded color="success" @click="$router.push('/payments')">Подвердить Адрес</v-btn>
            </div>
        </div>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
    import google from 'google-maps'

  export default {
    data () {
      return {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false,
      }
    },
    methods:{
        initMap(){
            var myLatlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 8,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById("map"), myOptions); 
            console.log(map)
        }
    },
    mounted(){
        this.initMap()
    }
  }
</script>

<style lang="scss">
    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .content-item{
            display: flex;
            justify-content: center;
            margin: 35px 0px 0px 0px;
            .maps-info{
                display: flex;
                justify-content: space-around;
                width: 90%;
            }
            .maps{
                width: 100%;
                iframe{
                    width: 100%;
                    height: 60vh;
                }
            }
        }
    }

@media (max-width: 1000px)  {
    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .content-item{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 25px 0px 0px 0px;
            .maps-info{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 80%;
            }
            .maps{
                width: 100%;
                iframe{
                    width: 100%;
                }
            }
        }
        .content-item:last-child{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 40px;
            button{
                width: 50%;
            }
        }
    }        
}
</style>