<template>
    <tr v-for="(item, index) in products" :key="index">
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency}}</td>
        <td><span>-</span> {{ item.numbers }} <span>+</span></td>
    </tr>
</template>

<script>
export default {
    
}
</script>