<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Регистрация</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Фамилия"
                    name="last_name"
                    type="text"
                    v-model="last_name"
                  ></v-text-field>
                  <v-text-field
                    id="name"
                    label="Имя"
                    name="name"
                    type="text"
                    v-model="first_name"
                  ></v-text-field>
                  <v-text-field
                    label="Отчество"
                    name="patronymic"
                    type="text"
                    v-model="patronymic"
                  ></v-text-field>
                  <v-text-field
                    label="Email"
                    name="email"
                    type="email"
                    v-model="email"
                  ></v-text-field>
                  <v-text-field
                    label="Телефон"
                    mask="###.###.###-##"
                    return-masked-value
                  ></v-text-field>
                  <v-text-field
                    label="Пароль"
                    name="password"
                    type="password"
                    v-model="password"
                  ></v-text-field>
                  <v-text-field
                    label="Повторите пароль"
                    name="password"
                    type="password"
                    v-model="password_check"
                  ></v-text-field>
                  <v-checkbox
                    color="success"
                    v-model="is_confirm"
                    :label="`Согласие на обработку данных`"
                  ></v-checkbox>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  color="primary"
                  style="font-size: 13px"
                  @click="$router.push('/sign_in')"
                  >Назад</v-btn
                >
                <v-spacer></v-spacer>
                <v-btn
                  style="font-size: 13px"
                  :loading="loading"
                  :disabled="loading"
                  @click="sign_up(), (loader = 'loading')"
                  >Зарегестрироваться</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "Registration",
  props: { source: String },
  data() {
    return {
      last_name: "",
      first_name: "",
      patronymic: "",
      email: "",
      password: "",
      password_check: "",
      is_confirm: false,
      loader: null,
      loading: false,
    };
  },
  methods: {
    sign_up() {
      if (this.password === this.password_check && this.is_confirm == true) {
        this.$store
          .dispatch("sign_up", {
            last_name: this.last_name,
            first_name: this.first_name,
            patronymic: this.patronymic,
            email: this.email,
            password: this.password,
            is_confirm: this.is_confirm,
          })
          .then(() => {
            this.$router.push("/sign_in");
          });
      } else {
        this.$toast.error("Заполните все поля формы!", {
          position: "bottom-left",
        });
      }
    },
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];
      setTimeout(() => (this[l] = false), 3000);
      this.loader = null;
    },
  },
};
</script>

<style lang="scss">
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
