<template>
    <div class="promo">
        <div class="promo-headline">
            ВВЕДИТЕ ПРОМОКОД
        </div>
        <div class="promo-input">
            <v-text-field label="код" class="promo-input"></v-text-field>
        </div>
        <div class="promo-button">
            <v-btn rounded color="success">Использовать</v-btn>
        </div>
    </div>
</template>

<style lang="scss">
    .promo-input{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 90%;
    }
    .promo-button{
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin-top: 10px;
    }
</style>