<template>
    <v-card class="mx-auto" max-width="300">
        <v-img src="../../assets/img/computer-content-control-data-270700.jpg" height="150px"></v-img>
        <v-card-title>
        Настройки аккаунта
        </v-card-title>
        <v-card-subtitle>
        Изменить логин, пароль
        </v-card-subtitle>
    </v-card>
</template>

<script>
  export default {
    data: () => ({
      show: false,
    }),
  }
</script>