<template>
    <div class="table">
        <v-simple-table height="250px">
            <template v-slot:default>
            <thead>
                <tr>
                <th class="text-left">Номер</th>
                <th class="text-left">Наименование</th>
                <th class="text-left">Дата</th>
                <th class="text-left">Стоимость</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in price" :key="index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.price | currency }}</td>
                </tr>
            </tbody>
            </template>
        </v-simple-table>
        <v-pagination v-model="page" :length="1" :total-visible="7"></v-pagination>
    </div>
</template>

<script>
export default {
    name: 'TableTab',
    data(){
        return{
            page: 1,
            price:[
                {
                    name: 'Спагетти',
                    price: '200',
                    numbers: 1,
                    date: '01.01.01'
                },
                {
                    name: 'Спагетти',
                    price: '200',
                    numbers: 1,
                    date: '01.01.01'
                },
                {
                    name: 'Спагетти',
                    price: '200',
                    numbers: 1,
                    date: '01.01.01'
                }
            ]
        }
    }
}
</script>