<template>
  <component :is="layout">
    <router-view />
  </component>
</template>

<script>
import MainLayout from './layouts/MainLayout.vue'
import LogLayout from './layouts/LogLayout.vue'
import PriceLayout from './layouts/PriceLayout.vue'
import PayLayout from './layouts/PayLayout.vue'

  export default {
    name: 'app',
    components: {MainLayout,LogLayout,PriceLayout,PayLayout},
    computed: {
      layout(){
        return (this.$route.meta.layout || 'log') + '-layout'
      }
    },
    watch:{
      $route(to) {
        document.title = to.meta.title || 'Интернет магазин';
      },
    }
  }
</script>

<style lang="scss">
    .router-anim-enter-active{
      overflow: hidden;
      animation: coming .3s;
      animation-delay: .5s;
      opacity: 0;
  }

  .router-anim-leave-active{
      overflow: hidden;
      animation: going .4s;
  }

  @keyframes going {
      from{
          transform: translateY(0);
      }
      to{
          transform: translateX(100%);
          opacity: 0;
      }
  }

  @keyframes coming {
      from{
          transform: translateX(-100%);
          opacity: 0;
      }
      to{
          transform: translateY(0px);
          opacity: 1;
      }
  }
</style>