<template>
  <v-app id="inspire">
    <v-app-bar app color="indigo">
      <div class="contain">
        <div class="container-item">
          <v-app-bar-nav-icon
            color="white"
            @click.stop="drawer = !drawer"
          ></v-app-bar-nav-icon>
        </div>
        <div class="container-item">
          <h2 class="container-item__user">Иванов Иван Иванович</h2>
          <div class="avatar">
            <v-avatar>
              <img :src="userIcon" alt="avatar" />
            </v-avatar>
          </div>
          <div class="bottom-items">
            <v-btn
              class="mx-2"
              fab
              dark
              small
              @click="sign_out()"
              color="primary"
            >
              <img src="../assets/icons/exit_to_app_24px.svg" alt="price" />
            </v-btn>
          </div>
        </div>
      </div>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" app>
      <div class="nav-top">
        <div class="nav-top-headline">
          <v-avatar width="100" height="100"
            ><img :src="userIcon" alt="avatar"
          /></v-avatar>
          <p style="font-size:16px;">
            {{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}
          </p>
        </div>
      </div>
      <div class="nav-bottom">
        <v-list dense>
          <v-list-item link v-for="link in links" :key="link.url">
            <img :src="`${link.img}`" alt="" />
            <v-list-item-content>
              <router-link :to="link.url"
                ><v-list-item-title>{{
                  link.link
                }}</v-list-item-title></router-link
              >
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
      <div class="bottom"></div>
    </v-navigation-drawer>
    <v-content>
      <router-view />
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">ООО "Луч" Все права защищены &copy; 2022</span>
    </v-footer>
    <div class="text-center" v-if="!user.cookie">
      <v-bottom-sheet v-model="sheet" persistent>
        <template v-slot:activator="{ on }">
          <v-btn color="green" dark v-on="on">
            Open Persistent
          </v-btn>
        </template>
        <v-sheet class="text-center" height="200px">
          <div class="py-3">
            Вы подтверждаете согласие на обработку и хранения на данных?
          </div>
          <v-btn
            class="mt-6"
            color="indigo"
            style="color:white"
            @click="Coockie(), (sheet = !sheet)"
            >Принять</v-btn
          >
        </v-sheet>
      </v-bottom-sheet>
    </div>
  </v-app>
</template>

<script>
import userIcon from "../assets/icons/wheat.svg";

export default {
  data: () => ({
    drawer: null,
    sheet: null,
    cookie: true,
    userIcon,
    links: [
      {
        link: "Справочник",
        url: "/",
        img: "../assets/icons/home_24px_outlined (1).svg",
      },
      {
        link: "Выезды",
        url: "/office",
        img: "../assets/icons/perm_contact_calendar_24px_outlined.svg",
      },
      {
        link: "Агрегаты",
        url: "/catalog",
        img: "../assets/icons/shopping_cart_24px_outlined (1).svg",
      },
      {
        link: "Отчеты",
        url: "/about",
        img: "../assets/icons/undraw_placeholders_rklh (1).svg",
      },
      {
        link: "Технологическая карта",
        url: "/techmap",
        img: "../assets/icons/undraw_placeholders_rklh (1).svg",
      },
    ],
  }),
  computed: {
    user: function() {
      return this.$store.getters.user;
    },
  },
  methods: {
    setUser() {
      this.$store.dispatch("setUser");
    },
    sign_out() {
      this.$store.dispatch("sign_out").then(() => {
        this.$router.push("/sign_in");
      });
    },
    Coockie() {
      this.$store.dispatch("coockie", {
        cookie: this.cookie,
      });
    },
  },
};
</script>

<style lang="scss">
.main-anim-enter-active {
  overflow: hidden;
  animation: coming 0.3s;
  animation-delay: 1s;
  opacity: 0;
}
.router-link-exact-active {
  color: red !important;
}
.main-anim-leave-active {
  overflow: hidden;
  animation: going 0.6s;
}

@keyframes going {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes coming {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .container-item {
    display: flex;
    align-items: center;
    &__user {
      font-size: 18px;
      color: white;
    }
    .price {
      margin-right: 10px;
    }
    .avatar {
      margin-left: 20px;
    }
  }
}
.nav-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  .nav-top-headline {
    display: flex;
    font-size: 26px;
    font-weight: bolder;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    p {
      margin-top: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba($color: #000, $alpha: 0.3);
    }
  }
}
.nav-bottom {
  margin-top: 70px;
}
.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 200px;
  .bottom-items {
    margin: 10px;
  }
}
.v-list-item {
  margin-top: 20px;
}
.v-list-item__content {
  a {
    text-align: center;
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #3f51b5;
  }
}
.v-list-item__title {
  display: flex;
  justify-content: center;
  color: black;
  img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 600px) {
  .white--text {
    font-size: 12px;
  }
}
</style>
