<template>
  <v-app id="inspire">
    <v-app id="inspire">
    <v-app-bar app color="indigo">
      <div class="contain">
        <div class="container-item">
          <div class="headline" style="color: #fff;">
            <div class="back" @click="$router.push('/')">
                <img src="../assets/icons/arrow_back_ios_24px_outlined.svg" alt="">
                <span class="back">назад</span>                
            </div>
            <span class="price_head">Корзина</span>
        </div>
        </div>
        <div class="container-item">
          <div class="price">
            <v-btn class="mx-2" fab dark small color="indigo">
              <img src="../assets/icons/notifications_24px_outlined (1).svg" alt="price">
            </v-btn>
          </div>
          <div class="avatar">
            <v-avatar>
              <img :src="`${user.avatar}`" alt="avatar">
            </v-avatar>
          </div>
        </div>
      </div>
    </v-app-bar>
      <v-content>
        <router-view />
      </v-content>
      <v-footer color="indigo" app>
        <span class="white--text">Все права защищены &copy; 2020</span>
      </v-footer>
    </v-app>
  </v-app>
</template>

<script>
export default {
    name: 'Price',
    computed:{
      user(){
        return this.$store.getters.user
      }
    }
}
</script>

<style lang="scss">
    .headline{
        display: flex;
        .back{
            display: flex;
            cursor: pointer;
            font-size: 14px;
            margin-right: 30px;
        }
    }

    @media (max-width: 500px) {
      .price_head{
        font-size: 16px;
      }
      .headline{
      .back{
            display: flex;
            cursor: pointer;
            font-size: 14px;
            margin-right: 30px;
        }
      }
    }
</style>

